@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind CSS */

@layer base {
  body {
    @apply bg-dark font-montserrat text-slate-200;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply rounded-md border-emerald-400 bg-transparent text-emerald-500 shadow focus:ring-2 focus:ring-emerald-400;
  }
  ::selection {
    @apply bg-emerald-600/60 text-slate-300;
  }
}

/* Styling scrollbar */

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 14px;
  background: #334155;
  margin-block: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 14px;
  border: 2px solid #334155;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* Other Browser */
@supports (scrollbar-color: #0f172a #334155) {
  * {
    scrollbar-color: #0f172a #334155;
    scrollbar-width: auto;
  }
}
/* Other Browser */
/* Styling scrollbar */

/* Adding Blur Image Style */

.blur--img.ls-blur-up-is-loading,
.blur--img.lazyload:not([src]) {
  visibility: hidden;
}

.ls-blur-up-img {
  filter: blur(10px);
  opacity: 1;
  transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  filter: blur(5px);
}
/* Adding Blur Image Style */ ;
